{% macro renderOrganizer(user) %}
    {% import '@OroUI/macros.html.twig' as UI %}

    <div class="calendar-event-organizer">
        {% if(user.organizerUser is not null and user.organizerDisplayName is not null) %}
            {% include '@OroAttachment/Twig/picture.html.twig' with {
                sources: oro_filtered_picture_sources(user.organizerUser.avatar, 'avatar_xsmall') ?: asset('bundles/oroui/img/avatar-xsmall.png'),
            } %}
            {{ UI.link({
                path: path('oro_user_view', { id: user.organizerUser.id}),
                label: user.organizerDisplayName
            }) }}
        {% elseif (user.organizerEmail is not null and user.organizerDisplayName is not null) %}
            <img src="{{ asset('bundles/oroui/img/avatar-xsmall.png') }}" />
            {{ user.organizerDisplayName ~ ' (' ~ user.organizerEmail ~')' }}
        {% else %}
            {{ 'oro.calendar.calendarevent.na.label'|trans }}
        {% endif %}
    </div>
{% endmacro %}

{% macro briefDateCell(theDate) %}
    <span class="day-of-week">{{ theDate|date('D', oro_timezone()) }}</span>
    <span class="day-of-month">{{ theDate|date('j', oro_timezone()) }}</span>
{% endmacro %}
