{% import '@OroUI/macros.html.twig' as UI %}

{% if saved is defined and saved %}
    {% set widgetResponse = {
        widget: {
            message: 'oro.calendar.controller.event.saved.message'|trans,
            triggerSuccess: true,
            remove: true
        }
    } %}

    {{ widgetResponse|json_encode|raw }}
{% else %}
    <div class="widget-content">
        {% if not form.vars.valid and form.vars.errors|length %}
            <div class="alert alert-error" role="alert">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}

        {% set calendarEventDateRange = {
            module: 'orocalendar/js/app/components/calendar-event-date-range-component',
            name: 'calendar-event-date-range',
            options: {
                nativeMode: isMobileVersion()
            }
        } %}
        <div class="form-container">
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                <fieldset class="form form-horizontal">
                    {% set rightColumn %}
                        <div class="control-group-container" {{ UI.renderPageComponentAttributes(calendarEventDateRange) }}>
                            {{ form_row(form.start) }}
                            {{ form_row(form.end) }}
                            {{ form_row(form.allDay) }}
                        </div>
                        {% if form.recurrence is defined %}
                            {{ form_row(form.recurrence) }}
                        {% endif %}
                    {% endset %}

                    {% set leftColumn %}
                        {{ form_row(form.title) }}
                        {{ form_row(form.description, { 'attr': {'class': 'narrow-text-field'} }) }}
                        {{ form_row(form.backgroundColor) }}
                        {% if form.calendarUid is defined %}
                            {{ form_row(form.calendarUid) }}
                        {% endif %}
                        {{ form_row(form.attendees) }}
                        {% if form.vars.value.recurrence is null %}
                            {{ form_row(form.reminders) }}
                        {% else %}
                            {% do form.reminders.setRendered %}
                        {% endif %}
                        {{ form_rest(form) }}
                    {% endset %}

                    <div class="span6 control-group-container">
                        {{ leftColumn }}
                    </div>
                    <div class="span6 control-group-container">
                        {{ rightColumn }}
                    </div>

                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-success" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    </div>
{% endif %}
