{% extends '@OroActivityList/ActivityList/js/activityItemTemplate.html.twig' %}
{% import '@OroActivity/macros.html.twig' as AC %}

{% set entityClass = 'Oro\\Bundle\\CalendarBundle\\Entity\\CalendarEvent' %}
{% set entityName  = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName }}
    <% if (owner || owner_url) { %>
        <% var template = (verb == 'create')
            ? {{ 'oro.calendar.calendarevent.added_by'|trans|json_encode|raw }}
            : {{ 'oro.calendar.calendarevent.updated_by'|trans|json_encode|raw }}; %>
        <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
                user: owner_url ? '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>' :  '<span class="user">' + _.escape(owner) + '</span>',
                date: '<i class="date">' + createdAt + '</i>',
                editor: editor_url ? '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>' : _.escape(editor),
                editor_date: '<i class="date">' + updatedAt + '</i>'
            }) %>
    <% } %>
{% endblock %}

{% block activityActions %}
    {% import '@OroActivity/macros.html.twig' as AC %}

    {% set action %}
        {# Add button for add context in the activity list item #}
        {% if is_granted('oro_calendar_event_update') %}
            {{ AC.activity_context_link() }}
        {% endif %}
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
        <a href="<%- routing.generate(routes.itemViewLink, {'id': relatedActivityId}) %>"
           class="dropdown-item"
           title="{{ 'oro.calendar.calendarevent.view_event'|trans({'{{ entity }}': entityName}) }}"><span
                class="fa-eye hide-text" aria-hidden="true">{{ 'oro.calendar.calendarevent.view_event'|trans({'{{ entity }}': entityName}) }}</span>
            {{ 'oro.calendar.calendarevent.view_event'|trans({'{{ entity }}': entityName}) }}
        </a>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        <% if (editable) { %>
        <a href="#" class="dropdown-item action item-edit-button"
           title="{{ 'oro.calendar.calendarevent.update_event'|trans({'{{ entity }}': entityName}) }}"
           data-action-extra-options="{{ {dialogOptions: {width: 1000}}|json_encode }}">
            <span class="fa-pencil-square-o hide-text" aria-hidden="true">{{ 'oro.calendar.calendarevent.update_event'|trans({'{{ entity }}': entityName}) }}</span>
            {{ 'oro.calendar.calendarevent.update_event'|trans({'{{ entity }}': entityName}) }}
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        <% if (removable) { %>
        <a href="#" class="dropdown-item action item-remove-button"
           title="{{ 'oro.calendar.calendarevent.delete_event'|trans({'{{ entity }}': entityName}) }}">
            <span class="fa-trash-o hide-text" aria-hidden="true">{{ 'oro.calendar.calendarevent.delete_event'|trans({'{{ entity }}': entityName}) }}</span>
            {{ 'oro.calendar.calendarevent.delete_event'|trans({'{{ entity }}': entityName}) }}
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}
